{% load widget_tweaks %}

<!-- <div class="row">
    <form method="post" action="{% url 'comment_create' pk=post.pk %}">
        {% csrf_token %}
        <div class="col-sm-9">
            {% render_field form.body placeholder="Add a comment..." class+="form-control" %}
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-primary">Post comment</button>
        </div>
    </form>
</div> -->
<form method="post" action="{% url 'comment_create' pk=post.pk %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-auto me-auto p-2">
            {% render_field form.body placeholder="Add a comment..." class+="form-control" %}
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Post comment</button>
        </div>
    </div>
</form>
